html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font: normal normal 400 100%/1 system-ui, sans-serif;
  height: 100%;
  user-select: none;
  height: 100%;
  overflow: hidden;
  background-color: var(--bg);
  color: var(--text);
}